#container {
  text-align: center;

  .icon-container {
    .headset-icon {
      min-height: 200px;
      min-width: 30vw;
      margin: auto;
    }
  }

  strong {
    font-size: 20px;
    line-height: 26px;
  }

  .items {
    max-width: 60%;
    margin: auto;

    .item {
      p{
        &:first-child {
          margin-bottom: 0;
          font-weight: bold;
        }
        &:last-child {
          margin-top: 0;
        }
      }
    }
  }
}
