<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Seleccione la canción
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Seleccioná la canción</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="loader" *ngIf="loading">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list class="items" *ngIf="!loading">
    <span *ngFor="let letter of getVideoMapList()">
      <ion-item-divider>
        <ion-label>
          {{letter}}
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let video of getListFromLetter(letter)" (click)="startVideo(video.ETag, letter)">
        <ion-label>{{video.Key.split('.')[0].replace(regex, ' ')}}</ion-label>
      </ion-item>
    </span>
    <ion-item>
<!--      This item is to fix ad banner overlap-->
    </ion-item>
  </ion-list>

  <div *ngIf="webVideo.show">
    <h2>Web</h2>
    <video [crossOrigin]="'anonymous'" [autoplay]="true" [muted]="false">
      <source [src]="webVideo.src" type="video/mp4">
    </video>
  </div>

</ion-content>
