<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-button [disabled]="startDisabled"  (click)="startVideo()">
    play
  </ion-button>
 
  <br/>
  <br/>
  <br/>
  <ion-label color="primary">{{result}}</ion-label>

  <div *ngIf="webVideo.show">
  <h2>Web</h2>
    <video [crossOrigin]="'anonymous'" [autoplay]="true" [muted]="false">
      <source [src]="webVideo.src" type="video/mp4">
    </video>
  </div>

</ion-content>
