<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Información</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <p>Espero que disfruten de la app tanto como nosotros disfrutamos hacerla!</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Para cualquier duda, comentario, inconveniencia o cualquier otro motivo no dude en contactarse con nosotros.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span>Contacto: </span><a href="mailto:experienciabolichera@gmail.com">experienciabolichera@gmail.com</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
